<section>
    
    <h3>About Myself</h3>
    
    <div class="face-lockup">
    
        <div class="face-img"></div>
        
        <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
        <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
        <div class="icon-browser">{% include icons/icon-browser.html %}</div>
        <div class="icon-video">{% include icons/icon-video.html %}</div>
        
    </div>
    
    <div class="blurb">
        <p><strong>Lorem ipsum dolor sit amet,</strong> consectetur adipiscing elit. Nunc faucibus vitae nisi nec lacinia. Praesent nec maximus orci, nec consectetur dolor. Maecenas aliquet ligula id tincidunt malesuada. Curabitur eget massa consectetur orci porttitor tempus. Proin vehicula bibendum ipsum at consequat. Integer sagittis imperdiet varius. Curabitur gravida felis in nisl interdum, non vulputate dui convallis.</p>
        </div>
    
<div class="skill-lockup">
    
</div>
    
</section>