---
---

/* Header Path Configurations */
$logo-path: '{{ site.data.settings.logo }}'
$hero-path: '{{ site.data.settings.bg-img }}'

/* About Path Configurations */
$avatar-path: '{{ site.data.settings.avatar }}'

/* Footer Path Configurations */


/* SASS IMPORTS */
@import '1-tools/-tools-index'
@import '2-base/-base-index'
@import '3-sections/-sections-index'
@import '4-pages/-pages-index'